@import "rouge-base16-dark";
@import "default_colors";


img {
    margin-right: 10px;
    margin-top: 10px;
}
.barra-lateral {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #7A28CB;
    transition: all .5s ease;
}

.barra-lateral header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #FC60A8;
    user-select: none;
}

.barra-lateral ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}

ul li:hover a {
    padding-left: 60px;
}

#check {
    display: none;
}

label #btn, label #cancelar {
    position: absolute;
    cursor: pointer;
} 

label #btn {
    left: 40px;
    top: 25px;
    transition: all .5s ;
}

label #cancelar {
    z-index: 1111;
    left: -195px;
    top: 17px;
    transition: all .5s ;
}

#check:checked ~ .barra-lateral {
    left: 0;
}

#check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancelar {
    left: 195px;
}
