@import "rouge-base16-dark";
@import "default_colors";

$body-background: $cod-grey !default;
$body-foreground: $gallery !default;
$header: $conifer !default;
$blockquote-color: $silver-chalice !default;
$blockquote-border: $dove-grey !default;
$container-max-width: 1000px;  /* Tamaño máx del contenedor de la página */

@mixin media-max-width($max-width) {
  @media (max-width: $max-width) {
      @content;
  }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {                                    /* Cabecera de la Página */
 /* background: rgba(0, 0, 0, 0.1); */      /* Fonde del encabezado, mantenerlo comentado para mostrar una imagen unica en la página*/
 /* border-bottom: 1px dashed $conifer; */  /* Línea para separar la cabezera y el cuerpo de la página */
    width: 100%; 
    padding: 20px 0;
    margin: 0 0 40px 0;
}

body {                          /* Cuerpo de la Página */
    margin: 0;
    margin-left: 80px;          /* Espacio izquierdo */
    padding: 0;
    background: $body-background url("../images/bkg.png") 0 0;            /* Imágen fondo de la página */
    color: $body-foreground;
    font-size: 16px;
    line-height: 1.5;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/* General*/

.container {
  width: 91%;
  max-width: $container-max-width;
  margin: 0 auto;
}

section {                /* Botónes */
  display: block;
  margin: 0 -275px 0;    /* Margen arriba/horizontal/inferior*/
}

h1{                      /* Títulos principales */
  margin: 20px -30px 0; 
}

h2{                      /* Títulos secundarios */
  margin: 0 0 0;
}

h3 {
  margin: 16px 0 0;
}

h4 {
  margin: 0 -10px -5px;
}

h5 {                         /* Título Principal */
  margin-left: -27.7%;
  margin: -2px -275px 0;
  font-size: 36px;
}

h6 {                         /* Descripción del blog */
  margin: 5px -275px 10px;
  font-size: 20px;
}

p {                          /* Texto o contenido de la página */
  margin: 5px 0 0;
}

ul {
  margin: 0 30px 20px;       /* Contenido listado >> */  
}

li {
  line-height: 1.4 ;
}

header h5, h6 {
  line-height: 1.5;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: $conifer;//$header;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
  @include media-max-width($container-max-width) {
    margin-left: 0;
  
  }
}

header h1:before {
  content: " ";
  font-size: 24px;
}

header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
}

#downloads .btn {
  display: inline-block;
  text-align: center;
  margin: 0;
}

/* Main Content*/

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
section img {
  max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: $header;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

/*#main_content h1 {
  font-size: 32px;
}*/

#main_content h2 {
  font-size: 26px;
}

#main_content h3 {
  font-size: 18px;
}

#main_content h4 {
  font-size: 17px;
}

#main_content h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#main_content h6 {
  font-size: 30px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

dt {
  font-style: italic;
  font-weight: bold;
}

ul li {
  list-style-image:url('../images/bullet.png');
}

blockquote {
  color: $blockquote-color;
  padding-left: 10px;
  border-left: 1px dotted $blockquote-border;
}

pre {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 16px;
  color: #b5e853;
  border-radius: 2px;
  word-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
}

code.highlighter-rouge {
  background: rgba(0,0,0,0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0px 3px;
  margin: 0px -3px;
  color: #aa759f;
  border-radius: 2px;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed #b5e853;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #b5e853;
  color: #b5e853;
}

/* Buttons*/

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}

/* Links */

a {
  color: #63c0f5;    /* Color de los links */
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

/* Clearfix */

.cf:before, .cf:after {
  content:"  ";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}

#a-title {
  text-decoration: none;
}

/*--------- Buscador -------------*/
/*
#a-buscador {
  margin-left: 35%;
  margin-top: 25px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(77px);
  position: absolute;
  top: 0;
  z-index: 200;
  background: rgb(157, 255, 0);
  border-radius: 40px;
}

.buscar_texto{
  border: none;
  background: none;
  outline: none;
  color: black;
  font-size: 18px;
  float: left;
  line-height: 30px;
  transition: .3s;
  width: 0;
}

.boton{
  width: 30px;
  height: 30px;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

*/

/* Parte responsice del buscador */

@media screen and (min-width:480px){
  .buscar:hover > .buscar_texto{
    width: 190px;
  }
}

@media screen and (min-width:768px){
  .buscar:hover > .buscar_texto{
    width: 300px;
  }
}

@media screen and (min-width:1024px){
  .buscar:hover > .buscar_texto{
    width: 500px;
  }
}

/*-------------------------------------*/

.contenedor {
   display: flex;
   flex-wrap: wrap;
}

.contenedor img {
    width: 29%;
}

.imagen {
  box-sizing: border-box;
  flex-basis: 33.33%;
  flex-shrink: 0;
  padding: 5px;
}

.imagen h5 {
  margin: 1px 0;
}

/* Menu lateral */

.icon__menu{
    margin-left: -400px;
    margin-top: 25px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(77px);
    position: fixed;
    top: 0;
    z-index: 200;
}
 
.icon__menu i{
    font-size: 30px;
    cursor: pointer;
    position: absolute;
}

.menu__side{
    width: 80px;
    height: 100%;
    background: #b5e853;
    position: fixed;
    top: 0;
    left: 0;
    color: rgb(0, 0, 0);
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid #759538;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar{
    display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.name__page{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.name__page i{
    width: 20px;
    margin-right: 20px;
}

.options__menu{
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.options__menu a{
    color: #000000b2;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

.options__menu a:hover{
    color: rgb(255, 255, 255);
}

.options__menu .option{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4{
    font-weight: 300;
    cursor: pointer;
}

a.selected{
    color: #fff;
}

.selected:before{
    content: '';
    width: 3px;
    height: 80%;
    background: white;
    position: absolute;
    top: 10%;
    left: -30px;
}

/*Clases para usar en JavaScript*/


.body_move{
    margin-left: 200px;  /* Separación Izq. tra desplegar el menu lateral */
}

.menu__side_move{
    width: 200px;
}

@media screen and (max-width: 760px){
    .body_move{
        margin-left: 0px;
    }

    .menu__side_move{
        width: 80px;
        left: -80px;
    }
}

/* ------------Letrero de Linux ---------- */


/* Main styles */

.text {
  fill: none;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
  stroke: #242e10;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  stroke: #5a7429;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
  stroke: #b5e853;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
  stroke: #bcea64;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
  stroke: #daf3a9;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}



svg {
  width: 100%;
  height: 100%;
  margin-top: -100px;                   /* Separación superior del Letrero */
  margin-left: -100px;                  /* Separación lateral del Letrero */
  background-size: .2em 100%;
  font: 14.5em/1 Open Sans, Impact;
  text-transform: uppercase;
} 
