@import "rouge-base16-dark";
@import "default_colors";

$body-background: $cod-grey !default;
$body-foreground: $gallery !default;
$header: $conifer !default;
$blockquote-color: $silver-chalice !default;
$blockquote-border: $dove-grey !default;
$container-max-width: 1000px;  /* Tamaño máx del contenedor de la página */

@mixin media-max-width($max-width) {
  @media (max-width: $max-width) {
      @content;
  }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* ----------------------------- Cabecera de la Página ----------------------------------- */

header {                        
    width: 100%; 
    padding: 20px 0;
    margin: 0 0 40px 0;
}

/* ----------------------------- Cuerpo de la Página ----------------------------------- */

body {                          
    margin: 0;
    margin-left: 69px;          /* Espacio izquierdo */
    padding: 0;
    background: $body-background url("../images/bkg.png") 0 0;            /* Imágen fondo de la página */
    color: $body-foreground;
    font-size: 16px;
    line-height: 1.5;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/* -------------------------------- Contenido General ------------------------------------*/

.container {
  width: 91%;
  max-width: $container-max-width;
  margin: 0 auto;
}

section {                             /* Botónes */
  display: block;
  margin: 0 -275px 0;                 /* Margen arriba/horizontal/inferior*/
}

h1{                                   /* Títulos principales */
  margin: 20px -30px 0;  
}

h2{                                   /* Títulos secundarios */
  margin: 20px -20px 8px;  
}

h3 {
  margin: 16px -15px 8px;
}

h4 {                                  /* Títulos del menú lateral */
  margin: -2px -10px -5px;
}

h5 {                                  /* Título Principal */
  margin-left: -27.7%;
  margin: -2px -275px 0;
  font-size: 36px;
}

h6 {                                  /* Descripción del Blog */
  margin: 3px -275px 10px;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: $header;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

header h1:before {
  content: " ";
  font-size: 24px;
}

header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
}

header h5, h6 {
  line-height: 1.5;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: $conifer;//$header;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
  @include media-max-width($container-max-width) {
    margin-left: 0;
  
  }
}

p {                          /* Texto o contenido general de la Página */
  margin: 5px 0 0;
}

ul {
  margin: 8px 30px 25px;       /* Contenido listado >> */  
}

li {
  line-height: 1.4 ;
}

ul li {
  list-style-image:url('../images/bullet.png');
}

section img {
  max-width: 100%
}

dt {
  font-style: italic;
  font-weight: bold;
}

blockquote {
  color: $blockquote-color;
  padding-left: 10px;
  border-left: 1px dotted $blockquote-border;
}

pre {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 16px;
  color: #b5e853;
  border-radius: 2px;
  word-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
}

code.highlighter-rouge {
  background: rgba(0, 0, 0, 0.9);                 /* Color de fondo del texto entre comillas `` */
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0px 3px;
  margin: 0px -3px;
  color: #aa759f;                                 /* Color del texto resaltado entre comillas `` */
  border-radius: 2px; 
}
 
.highlight {                      /* Cuadros negros para el código  */
  margin: 5px 0 5px; 
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed #b5e853;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #b5e853;
  color: #b5e853;
}

#a-title {
  text-decoration: none;
}

.contenedor {
   display: flex;
   flex-wrap: wrap;
}

.contenedor img {
    width: 29%;
}

.imagen {
  box-sizing: border-box;
  flex-basis: 33.33%;
  flex-shrink: 0;
  padding: 5px;
}

.imagen h5 {
  margin: 1px 0;
}

.img-nmap {
  margin: -20px -350px -20px;
  scale: 0.8;
}

/* ----------- Indice lateral (Comandos línux) ------------------- */

#indice-lateral {
  margin-top: 20px;
  margin-left: 1050px;
  position: absolute;
}


/* --------------------  Posición del Gestor de Comentarios ---------------------------   */

#comentarios {
  margin: 40px 100px 40px;                    /* Margen arriba/horizontal/inferior*/
  width: 800px;
  height: 300px;
  background-color: rgb(20, 20, 20);
  border-radius: 30px;
  text-align: center;
}

#comentarios-contacto {
  margin: 160px 100px 40px;                    /* Margen arriba/horizontal/inferior*/
  width: 800px;
  height: 300px;
  background-color: rgb(20, 20, 20);
  border-radius: 30px;
  text-align: center;
}



/* ------------------------------------------ Botones ----------------------------------- */

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}

#downloads .btn {
  display: inline-block;
  text-align: center;
  margin: 0;
}

/* ---------- Botónes Anterios y Siguiente ------------ */

.btn-anterior{
  position: fixed;
  margin-top: 684px;
  margin-left: -320px;
  z-index: 300;
}


.btn-siguiente{
  position: fixed;
  margin-top: 684px;
  margin-left: 1200px;
  z-index: 300;
}

.btn-anterior-con-titulo{
  position: fixed;
  margin-top: 641px;
  margin-left: -320px;
  z-index: 300;
}

.btn-siguiente-con-titulo{
  position: fixed;
  margin-top: 641px;
  margin-left: 1200px;
  z-index: 300;
}


/* ------------------------------------ Botón HTB --------------------------------------*/

#main_content {                                /* Class para Botón HTB */
  width: 30%;
  margin-top: -45px;                           /* Altura del contenido de la página */
  margin-left: -4%;                            /* Espacio lateral del botón */
  -webkit-font-smoothing: antialiased;
  
}

/* ---------------------------------------  Links  ----------------------------------- */

a {
  color: #63c0f5;    /* Color de los links */
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

/* ------------------------------------  Clearfix  ------------------------------------*/

.cf:before, .cf:after {
  content:"  ";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}

/* --------------------------------------  Menú lateral Animado ---------------------------------------------------*/

/* ---------------- Icono Desplegable ---------------------------------------------------*/

.icon__menu{
    margin-left: -400px;               /* Distancia lateral del botón de menú lateral */
    margin-top: 25px;                  /* Altura del botón del menú lateral */
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(77px);
    position: fixed;                   /* Fijar icono al deslizar la página */
    top: 0;
    z-index: 200;
}
 
.icon__menu i{
    font-size: 30px;
    cursor: pointer;
    position: absolute;
}

/* ------------------------------  Menú Lateral -------------------------------------- */

.menu__side{
    width: 69px;                    /* Ancho del menú lateral plegado */
    height: 100%;
    background: #5c8014;          /* Color de fondo del menú lateral */
    position: fixed;
    top: 0;
    left: 0;
    color: rgb(255, 255, 255);       /* Color boton principal*/
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 10px solid #a7da45;  /* Color del marco derecho del menú */
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.name__page{
  padding: 20px 25px;              /* Altura del botón de youtube */
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.name__page i{                     /* Movimiento del título principal del menú lateral */
  width: 20px;
  margin-right: 20px;
}

.name__page h4{
  padding-left: 5px;               /* Posición del título principal */
}

.options__menu{                    /* General: Botones y títulos secundarios del menú lateral */                     
  padding: 56px 25px;                   /* Posición Altura/Lateral  */
  position: absolute;                    
  
}

.options__menu a{
  color: rgb(212, 209, 209);        /* Colores de los botones del menú lateral */
  cursor: default;
  display: block;
  position: relative;
  transition: color 300ms;
}

.options__menu a:hover{
  color: rgb(19, 18, 18);     /* Color al pasar el cursor por encima del icono */
}

.options__menu .option{
  padding: 30px 0px;               /* Espacio entre los botones del menú lateral */
  display: flex;
  align-items: center;
  position: relative;
}

.options__menu .option i{
  width: 25px;                     /* Posición lateral del texto de los botones del menú lateral */ 
  margin-right: 20px;
  cursor: pointer;
}

.options__menu .option h4{
  color: #b5e853;                  /* Color de las letras del menú lateral */
  font-weight: 300;
  cursor: pointer;
  font-style: italic;
}

.menu__side .name__page h4{
  color: #b5e853;                  /* Color del título del menú lateral */
  font-weight: 300;
  cursor: pointer;
  font-style: italic;
}

/*------  Ocultar scroll para chrome, safari y opera -------*/

.menu__side::-webkit-scrollbar{
    display: none;
}

/*--------  Ocultar scroll para IE, Edge y Firefox  -------*/

.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/*-----------  Clases para usar en JavaScript ------------*/

.body_move{
    margin-left: 200px;  /* Separación Izq. tras desplegar el menu lateral */
}

.menu__side_move{
    width: 200px;
}

@media screen and (max-width: 760px){
    .body_move{
        margin-left: 0px;
    }

    .menu__side_move{
        width: 69px;
        left: -69px;
    }
}

/* --------------------------------- Letrero Animado Lineal  ------------------------------------ */

svg {
  width: 100%;
  height: 100%;
  margin-top: -100px;                   /* Separación superior del Letrero */
  margin-left: -100px;                  /* Separación lateral del Letrero */
  background-size: .2em 100%;
  font: 14.5em/1 Open Sans, Impact;
  text-transform: uppercase;
} 

.text {
  fill: none;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
  stroke: #43571F;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  stroke: #dbeeb7;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
  stroke: #b5e853;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
  stroke: #87AE3E;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
  stroke: #5c8014;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}


