/* ESTILOS GENERALES */
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color:#000;
    color: #fff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-left: 80px;
    margin-top: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

particles-js {
	height: 100%; 
	width: 100%;
    position: fixed;
    background_repeat: repeat-y;
    z-index: -1;
}

.contenido-descripcion {
    width: 60%;
    display: flex;
    height: 100%;
    align-items: center;
}

.contenido-descripcion .titulo {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.contenido-descripcion .titulo span:first-child {
    font-size: 50px; 
    display: block;
    font-weight: 300;
}

.contenido-descripcion .btn-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 100px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #3dff3e;
    border: 1px solid #555555;
    animation: parpadeo 2s linear infinite;
    transition: .7s ease;
}

.contenido-descripcion .btn-link:hover {
    border: 1px solid #3dff3e;
    animation: none;
}


@keyframes parpadeo  {
    0%, 41%, 45%, 47%, 49.5%, 100%  { 
        opacity: 1;
    }

    42%, 44%, 46%,48%,  50%  { 
        opacity: 0; 
    }
}

/* LETRERO LUMINOSO*/


@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

.sign {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #759538,
    transparent
  );
  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 6em;
  color: #eaf8c7;
  text-shadow: 0 0 0.6rem #eaf8c7, 0 0 1.5rem #b5e853,
    -0.2rem 0.1rem 1rem #b5e853, 0.2rem 0.1rem 1rem #b5e853,
    0 -0.5rem 2rem #b5e800, 0 0.5rem 3rem #b5e800;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #eaf8c7;
    text-shadow: 0 0 0.6rem #eaf8c7, 0 0 1.5rem #b5e853,
      -0.2rem 0.1rem 1rem #b5e853, 0.2rem 0.1rem 1rem #b5e853,
      0 -0.5rem 2rem #b5e800, 0 0.5rem 3rem #b5e800;
  }
  28%,
  33% {
    color: #b5e853;
    text-shadow: none;
  }
  82%,
  97% {
    color: #b5e800;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #759538;
    text-shadow: none;
  }
  100% {
    color: #eaf8c7;
    text-shadow: 0 0 0.6rem #eaf8c7, 0 0 1.5rem #b5e853,
      -0.2rem 0.1rem 1rem #b5e853, 0.2rem 0.1rem 1rem #b5e853,
      0 -0.5rem 2rem #b5e800, 0 0.5rem 3rem #b5e800;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

/* RESOLUCION PARA LOS DISTINTOS DISPOSITIVOS */

.resolucion{
  width: 99%;
  text-align: center;

}
/* Movil */
@media (max-width: 767px){
  .desktop{display: none;}
  .tablet{display: none;}
}
/* Tablet */
@media (min-width: 767px) and (max-width: 990px) {
  .desktop{display: none;}
  .movil{display: none;}
} 
/* Escritorio */  
@media (min-width: 991px) and {
  .tablet{display: none;}
  .movil{display: none;}
}
